<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href='/css/custom.css' />
    <script src='/javascripts/all.min.js' ></script>


</head>

<body>

    {{{body}}}
</body>

</html>