@import "../../node_modules/bootstrap/scss/bootstrap";
/* That imports the entirety of bootstrap, taken from ../../node_modules/bootstrap/scss/bootstrap.scss
 we can optimize it by only selectively including the modules we need:
*/

/* 
 @import "functions";
 @import "variables";
 @import "mixins";
 @import "root";
 @import "reboot";
 @import "type";
 @import "images";
 @import "code";
 @import "grid";
 @import "tables";
 @import "forms";
 @import "buttons";
 @import "transitions";
 @import "dropdown";
 @import "button-group";
 @import "input-group";
 @import "custom-forms";
 @import "nav";
 @import "navbar";
 @import "card";
 @import "breadcrumb";
 @import "pagination";
 @import "badge";
 @import "jumbotron";
 @import "alert";
 @import "progress";
 @import "media";
 @import "list-group";
 @import "close";
 @import "modal";
 @import "tooltip";
 @import "popover";
 @import "carousel";
 @import "utilities";
 @import "print";

 */
 $blue: #3A5998;
 $light-grey: #eee;
 $black: #333;
 $white: #fff;
 
 section.content {
   margin-top: 20px;
 }
 
 .sidebar-items {
   margin-bottom: 40px;
   
   &__sidebar-item {
     display: block;
     margin-bottom: -1px; //to clean up border double-ups
     padding: 8px 4px 8px 10px;
     border: 1px solid $light-grey;
     background: $white;
     transition: all ease 0.2s;
     color: $black;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     
     &:first-child {
       border-top-left-radius: 6px;
       border-top-right-radius: 6px;
     }
     
     &:last-child {
       border-bottom-left-radius: 6px;
       border-bottom-right-radius: 6px;
     }
     
     &:hover:not(&--header) {
       background: $light-grey;
       text-decoration: none;
       color: $black;
     }
     
     &--header {
       background: $blue;
       color: $white;
     }
   }
 }